.landing__page__container{
    height:100vh;
    width:100vw;
    background-color: #ffffff;
    display: flex;
    justify-content:start;
    align-items: center;
    overflow: hidden;
}
.landing__page--text{
    height:100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:10rem;
}
.landing__page__logo--text{
    font-size: 12rem;
    color:#fca311;
}
.landing__page__heading{
    margin:1rem 0rem;
}
.landing__page__heading--text{
    font-size: 6rem;
    color:#000000;
}
.landing__page__description--text{
    font-size: 3rem;
    margin: 0rem 0rem 0rem 0rem;
    color:#8d99ae;
    width:80%;
}
.landing__page__auth{
display: flex;
flex-direction: column;
}
.landing__page--login{
    margin-bottom:2rem;
    width: max-content;
    background-color:#fca311;
}
.landing__page--login:hover{
    box-shadow:0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05) ;
}
.landing__page--signup{
    font-size:1.5rem;
    color:#000000;
}
.signup{
    color:#fca311;
}
.landing__page--image{
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image--pen{
    max-width: 100%;
}


@media screen and (max-width: 1400px){
    .landing__page__container{
    height:100vh;
    width:100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    overflow:scroll;
}
.landing__page--text{
    height:100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom:10rem;
    margin-left:0;
}
.landing__page__logo--text{
    font-size: 8rem;
    color:#fca311;
    margin:10rem 0rem 0rem 0rem;
}
.landing__page__heading{
    margin:8rem 0rem;
}
.landing__page__heading--text{
    font-size: 4rem;
    color:#000000;
}
.landing__page__description--text{
    font-size: 2rem;
    margin: 0rem 0rem 0rem 0rem;
    color:#8d99ae;
    width:100%;
}
.landing__page__auth{
display: flex;
flex-direction: column;
}

.landing__page--signup{
    font-size:1.5rem;
    color:#000000;
}
.signup{
    color:#fca311;
}
.landing__page--image{
    height:100%;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0rem 0rem 8rem 0rem;
}
.image--pen{
    max-width: 100%;
}

}
@media screen and (max-width: 800px){
    .landing__page__container{
    height:100vh;
    width:100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
     overflow:scroll;
}
.landing__page--text{
    height:100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom:10rem;
}
.landing__page__logo--text{
    font-size: 8rem;
    color:#fca311;
    margin:10rem 0rem 0rem 0rem;
}
.landing__page__heading{
    margin:8rem 0rem;
}
.landing__page__heading--text{
    font-size: 4rem;
    color:#000000;
}
.landing__page__description--text{
    font-size: 2rem;
    margin: 0rem 0rem 0rem 0rem;
    color:#8d99ae;
    width:80%;
}

.landing__page--signup{
    font-size:1.5rem;
    color:#000000;
}
.signup{
    color:#fca311;
}
.landing__page--image{
    height:100%;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0rem 0rem 8rem 0rem;
}
.image--pen{
    max-width: 100%;
}

}